<div class="mat-elevation-z8 small-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Headers Column -->
    <ng-container matColumnDef="header">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row"><strong>{{row.header}}</strong></td>
    </ng-container>

    <!-- Male Column -->
    <ng-container matColumnDef="male">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Male</strong></th>
      <td mat-cell *matCellDef="let row">{{row.male}}</td>
    </ng-container>

    <!-- Female Column -->
    <ng-container matColumnDef="female">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Female</strong></th>
      <td mat-cell *matCellDef="let row">{{row.female}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
